#!/bin/sh
#================================================================
# Copyright (C) 2010 QNAP Systems, Inc.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#----------------------------------------------------------------
#
# qpkg_all.cfg
#
#	Abstract: 
#		A QPKG configuration file for
#		Gallery v3.0
#
#	HISTORY:
#		2010/11/05 -	Created - AndyChuo (zeonism at gmail dot come) 
# 
#================================================================
QPKG_AUTHOR="zEOn"
QPKG_SOURCE_DIR="."
QPKG_QPKG_FILE="Gallery.qpkg"
QPKG_SOURCE_FILE="Gallery.tgz"
QPKG_NAME="Gallery"
QPKG_VER="3.0"
QPKG_MAJOR_VER="1"
QPKG_MINOR_VER="0"
QPKG_TYPE="Web Applications"
QPKG_LOG_PATH=""
QPKG_INSTALL_PATH="/share/${WEB_SHARE}"
QPKG_CONFIG_PATH="$QPKG_INSTALL_PATH/gallery3/var"
QPKG_DIR="$QPKG_INSTALL_PATH/gallery3"
QPKG_WEBUI="/gallery3/" #URL relative path of your QPKG web interface led by "/"
QPKG_INSTALL_MSG=""
QPKG_WEB_PORT=""
QPKG_SERVICE_PORT=""
